[Desktop Entry]
Name=Artemis
Comment-SIGINT Database locally installed
Exec=xdg-open $HOME/source/artemis/Artemis
Icon=/usr/share/icons/artemis_icon.png
Terminal=false
Type=Application
Categories=SigBox;