[Desktop Entry]
Name=SIGpi Home
Comment=Go to SIGpi Github Home
Exec=$HOME/source/artemis/Artemis
Icon=/usr/share/icons/artemis_icon.png
Terminal=false
Type=Application
Categories=SigPi;