[Desktop Entry]
Name=SIGID Wiki
Comment=Go to SIGID Website
Exec=xdg-open https://www.sigidwiki.com/wiki/Signal_Identification_Guide
Icon=/usr/share/icons/sigbox_icon_48x48.png
Terminal=false
Type=Application
Categories=SigPi;